  <!-- As a heading -->
<div class="container">
  <div class="row cocktails-items">
    <% @cocktails.each do |cocktail| %>
      <div class="col-2 ps-cocktails">
        <div class="card-show">
        <% if cocktail.photo.attached? %>
        <%= cl_image_tag cocktail.photo.key%>
        <% else %>
        <% end %>
        <h5 class="card-title"> <%= cocktail.name %> </h5>
        </div>
      </div>
    <%= link_to "Check details", cocktail_path(cocktail), class: "btn btn-dark" %>
    <% end %>
  </div>
</div>
