.cocktails-items img {
  width:100%;
}

.cocktails-items {
  position:relative;
}

.card-title {
  position:absolute;
  margin-top: -155px;
  margin-left: -18px;
  color:white;
  font-weight:bold;
}

// #show-cocktail img {
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);

// }

// #upcoming-e {
//   background-size: cover;
//   background-position: center;
//   height: 200px;
//   width: 100%;
//   padding-right: 0px;
//   padding-left: 0px;
//   padding-top:25px;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align:center;
//   color: white;
//   font-size: 18px;
//   font-weight: bold;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   border-radius: 5px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   margin-top:5px;
// }
