.card-img-top {
  border-radius: 2px;
}

.card-title {
  text-align: center;
}

body {
  overflow:scroll;
  background-color:white;
}

.ps-cocktails {
  position:relative;
  margin-top:40px;
  border-radius:5px;
  overflow:hidden;
}

.card-name-details {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.ps-cocktails img {
  height: 460px;
}

h5.card-title {
  text-align: center;
  color:#497f0b;
  align:center;
  font-size: 30px;
  font-weight: bold;
  word-break:break-all;
  padding:20px;
}


@media only screen and (max-width: 600px) {
  .ps-cocktails img {
    height: 300px;
  }

  h5.card-title {
    font-size: 20px;
  }
}

@media only screen and (max-width: 420px) {
  .ps-cocktails img {
    height: 200px;
  }

  h5.card-title {
    font-size: 20px;
  }
}







