.card-img-top {
  border-radius: 2px;
}

.card-title {
  text-align: center;
}

body {
  overflow:scroll;
  background-color:white;
}


.ps-cocktails {
  position:relative;
  margin-top:40px;
  border-radius:5px;
  overflow:hidden;
}

.card-name-details {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.ps-cocktails img {
  width: auto;
  height: 460px;
}

h5.card-title {
  text-align: center;
  color:#497f0b;
  align:center;
  font-size: 30px;
  font-weight: bold;
  word-break:break-all;
  padding:20px;
}


.ps-cocktails .btn-dark {
}

// h5 #cocktail-name {
//   background-color:#1c33477a;
//   font-color:white;
//   border:1px solid none;
//   padding-right: 10px;
//   padding-left: 10px;
//   height: 200px;
//   width: 100%;
// }







