#new-cocktail {
  margin-top:25px;


h5 {

  font-size:30px;
  margin-bottom:30px;
  color:#497f0b;
}
}

.nestum {
  position:relative;
}

.btn-one {
  left: 100;
  top: 100;
  z-index: 1000;
  margin-bottom: 10px;
}

a .btn-two {
  left: 100;
  top:50;
  z-index: 1001;
  align:center;
}
