<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/acpimentel"><i class="fab fa-github"></i></a>
<!--     <a href="#"><i class="fab fa-linkedin"></i></a>
 --></div>
  <div class="footer-copyright">
    Made with &nbsp;<i class="fas fa-heart"></i> Handmaid's Tail
  </div>
</div>
