<!-- <div>
  <nav class="navbar navbar-dark bg-dark">
   <span class="navbar-brand mb-0 h1"> la catrina </span>
  </nav>
</div>
 -->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="navbar-collapse">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "HT.svg", class: "avatar avatar-xs", data: { titi: "toto" } %>
   <!--  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" /> -->
      <% end %>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', cocktails_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Add a new cocktail", new_cocktail_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
