.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 130px;
}

.navbar-lewagon h3 {
  flex-grow: 0;
}

.navbar-light .navbar-nav .nav-link {
  color:black;
}

// a.nav-link {
//   color: #497f0b;
// }


.header-title {
  font-size:25px;
  color:#cb2d6f;
  // text-decoration:underline;
}

#icon {
  font-size:25px;
  font-weight: italic;
  // color:#501f3a;
  // color:#ffbbb4;
  color:#cb2d6f;
}
